body {
  --blue-color: #00acdc;

  margin: 0;
  font-family: Roboto, sans-serif;
}

.moyo-header {
  display: flex;
  align-items: center;
  background-color: #fff;
  justify-content: space-between;
  text-align: center;
  padding-inline: 50px;
  max-width: 100vw;
}

.logo {
  display: block;
  size: 40px;
  height: auto;
}

.moyo-nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.box-nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: end;
}

.Items-nav {
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  height: 60px;
  line-height: 60px;
  display: inline-block;
  margin: 0 10px;
  text-align: center;
}

.box-nav li:first-child a {
  margin-left: 0;
}

.box-nav li:last-child a {
  margin-right: 0;
}

.box-nav :hover {
  color: var(--blue-color);
}

.box-nav a.is-active {
  position: relative;
  color: var(--blue-color);
}

.box-nav a.is-active::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--blue-color);
  position: absolute;
  bottom: 0;
  border-radius: 15px;
  left: 0;
}
